.flows.json.backup
[
    {
        "id": "7ee81df4.bfea84",
        "type": "tab",
        "label": "Integrations",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ee549ef.0fbb28",
        "type": "tab",
        "label": "Services - PSeguros",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c0a2e33c.1511f",
        "type": "telegram bot",
        "botname": "PSegurosBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "3f4b9f1f.e14f1",
        "type": "telegram receiver",
        "z": "7ee81df4.bfea84",
        "name": "",
        "bot": "c0a2e33c.1511f",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "93d23625.10d5f8",
                "c0f41767.f57208"
            ],
            []
        ]
    },
    {
        "id": "e78ac438.3320e8",
        "type": "telegram sender",
        "z": "7ee81df4.bfea84",
        "name": "",
        "bot": "c0a2e33c.1511f",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1190,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "93d23625.10d5f8",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Telegram receiver",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "63a91f15.a4e6a",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "New visitor",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://rocket.it.mindbot.com.ar/api/v1/livechat/visitor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1490,
        "y": 360,
        "wires": [
            [
                "51a1093e.9a7ff8",
                "dfed7cc7.c7027"
            ]
        ]
    },
    {
        "id": "79f5db67.0cb104",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "New visitor Payload",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/visitor#payload\n\n//Obtener datos de Telegram\nlet fullName = msg.originalMessage.from.first_name + \" \" + msg.originalMessage.from.last_name;\n//Usar id de Usuario de Telegram como TOKEN - lo espera en String\nlet token = msg.originalMessage.from.id.toString()\n\nlet visitor = {};\n\nvisitor.name = fullName;\nvisitor.token = token;\nvisitor.customFields = [];\n\n//Custom Field para informar el CANAL\n\nvisitor.customFields.push({key:\"chanel\", value:\"telegram\", overwrite:true});\n\nmsg.payload = {};\nmsg.payload.visitor = visitor;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1230,
        "y": 360,
        "wires": [
            [
                "74e7208b.04a33",
                "63a91f15.a4e6a"
            ]
        ]
    },
    {
        "id": "74e7208b.04a33",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "New visitor Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 300,
        "wires": []
    },
    {
        "id": "c0f41767.f57208",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Get visitor data Payload",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/visitor#payload\n\n//Usar id de Usuario de Telegram como TOKEN\nlet token = msg.originalMessage.from.id\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/visitor/\" + token;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "22826c11.f10fb4"
            ]
        ]
    },
    {
        "id": "22826c11.f10fb4",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Get visitor data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 820,
        "y": 200,
        "wires": [
            [
                "7ab5d913.53ffa8",
                "ea9d6124.d69fd",
                "db404bb5.08c118"
            ]
        ]
    },
    {
        "id": "7ab5d913.53ffa8",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Get visitor data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 60,
        "wires": []
    },
    {
        "id": "51a1093e.9a7ff8",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "New visitor Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 300,
        "wires": []
    },
    {
        "id": "d8a93589.9ba8f8",
        "type": "comment",
        "z": "7ee81df4.bfea84",
        "name": "Example response",
        "info": "{\"visitor\":{\"_id\":\"5NeTKRb5YzZ4wE3Mi\",\"username\":\"guest-6\",\"ts\":\"2021-01-19T12:26:32.789Z\",\"ip\":\"192.168.1.1\",\"host\":\"rocket.it.mindbot.com.ar\",\"_updatedAt\":\"2021-01-19T12:26:32.791Z\",\"name\":\"Andres Petrillo\",\"token\":\"869282068\"},\"success\":true}\n\n{\"visitor\":{\"_id\":\"5NeTKRb5YzZ4wE3Mi\",\"username\":\"guest-6\",\"ts\":\"2021-01-19T12:26:32.789Z\",\"ip\":\"192.168.1.1\",\"host\":\"rocket.it.mindbot.com.ar\",\"_updatedAt\":\"2021-01-19T12:26:32.791Z\",\"name\":\"Andres Petrillo\",\"token\":\"869282068\"},\"success\":true}",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "db404bb5.08c118",
        "type": "switch",
        "z": "7ee81df4.bfea84",
        "name": "Check visitor exists",
        "property": "payload.visitor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 200,
        "wires": [
            [
                "4c4953ed.decb2c",
                "dfed7cc7.c7027"
            ],
            [
                "79f5db67.0cb104",
                "9de6f676.6b1328"
            ]
        ]
    },
    {
        "id": "dfed7cc7.c7027",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Get config (Obtengo room)",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\nlet token = msg.originalMessage.from.id\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/config?token=\" + token;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1700,
        "y": 200,
        "wires": [
            [
                "506b3875.adacc8"
            ]
        ]
    },
    {
        "id": "506b3875.adacc8",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Get config",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1950,
        "y": 200,
        "wires": [
            [
                "4551ea09.6b2dc4"
            ]
        ]
    },
    {
        "id": "ea9d6124.d69fd",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Visitor data to json",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 60,
        "wires": []
    },
    {
        "id": "4551ea09.6b2dc4",
        "type": "json",
        "z": "7ee81df4.bfea84",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2130,
        "y": 200,
        "wires": [
            [
                "bfe45ba3.557ce8",
                "3e8ca4e8.4b9dfc"
            ]
        ]
    },
    {
        "id": "bfe45ba3.557ce8",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "to json",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2430,
        "y": 60,
        "wires": []
    },
    {
        "id": "2af94aa3.5b5f46",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Send Message",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\n\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/message\"\n\nlet originalPayload = msg.payload;\n\nmsg.payload = {};\nmsg.payload.token = originalPayload.config.guest.token;\nmsg.payload.rid = originalPayload.config.room._id;\nmsg.payload.msg = msg.originalMessage.text;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2660,
        "y": 200,
        "wires": [
            [
                "fd8c9753.82cf18"
            ]
        ]
    },
    {
        "id": "f60f6e8b.26885",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Send Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3080,
        "y": 60,
        "wires": []
    },
    {
        "id": "4c4953ed.decb2c",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "visitor EXISTS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 140,
        "wires": []
    },
    {
        "id": "9de6f676.6b1328",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "visitor NOT EXISTS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 420,
        "wires": []
    },
    {
        "id": "3e8ca4e8.4b9dfc",
        "type": "switch",
        "z": "7ee81df4.bfea84",
        "name": "Check room exists",
        "property": "payload.config.room",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2350,
        "y": 200,
        "wires": [
            [
                "2af94aa3.5b5f46"
            ],
            [
                "98c2632b.e833a"
            ]
        ]
    },
    {
        "id": "98c2632b.e833a",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Get room (crear room)",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\nlet token = msg.originalMessage.from.id\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/room?token=\" + token;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2380,
        "y": 320,
        "wires": [
            [
                "414289d5.96b3b8"
            ]
        ]
    },
    {
        "id": "414289d5.96b3b8",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Get room",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2620,
        "y": 320,
        "wires": [
            [
                "1fab54c.98015ab"
            ]
        ]
    },
    {
        "id": "1fab54c.98015ab",
        "type": "json",
        "z": "7ee81df4.bfea84",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2810,
        "y": 320,
        "wires": [
            [
                "beeafc04.2066e"
            ]
        ]
    },
    {
        "id": "beeafc04.2066e",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Send Message",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\n\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/message\"\n\nlet originalPayload = msg.payload;\n\nmsg.payload = {};\nmsg.payload.token = originalPayload.room.v.token;\nmsg.payload.rid = originalPayload.room._id;\nmsg.payload.msg = msg.originalMessage.text;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2980,
        "y": 320,
        "wires": [
            [
                "760fa4dc.f12d5c",
                "9fd9269a.33bfc8"
            ]
        ]
    },
    {
        "id": "760fa4dc.f12d5c",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Send Message (new Room)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3280,
        "y": 240,
        "wires": []
    },
    {
        "id": "fd8c9753.82cf18",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Send message",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2940,
        "y": 200,
        "wires": [
            [
                "f60f6e8b.26885"
            ]
        ]
    },
    {
        "id": "9fd9269a.33bfc8",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Send message",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 3240,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a813910b.42014",
        "type": "http in",
        "z": "7ee81df4.bfea84",
        "name": "Post messages from Rocket.chat",
        "url": "/messages",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 190,
        "y": 1480,
        "wires": [
            [
                "82e65057.262e2",
                "e6c9b776.ae6b68"
            ]
        ]
    },
    {
        "id": "82e65057.262e2",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Rocket.chat receiver",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1360,
        "wires": []
    },
    {
        "id": "3a9529df.ce3346",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Set message",
        "func": "//Respuesta a Telegram\n//chatId: 869282068\n//messageId: 1938\n//type: \"message\"\n//content: \"hola\"\n\nmsg.payload.chatId = msg.payload.visitor.token;\nmsg.payload.type = \"message\";\nmsg.payload.content = msg.payload.messages[0].msg;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 1360,
        "wires": [
            [
                "e78ac438.3320e8",
                "15478edd.b70101"
            ]
        ]
    },
    {
        "id": "15478edd.b70101",
        "type": "http response",
        "z": "7ee81df4.bfea84",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1160,
        "y": 1420,
        "wires": []
    },
    {
        "id": "23cef9dc.463986",
        "type": "comment",
        "z": "7ee81df4.bfea84",
        "name": "WebHook - Omnichannel",
        "info": "Todos los mensajes salientes de los operadores, seran reenviados aca.\nHay que identificar el CANAL (si es que tiene) y derivarlo correctamente.\n\n**TODO**: Adicionalmente, se generan otros mensajes, como cambio de departamento, o cierre de caso, que debemos procesar correctamente.",
        "x": 170,
        "y": 1520,
        "wires": []
    },
    {
        "id": "e6c9b776.ae6b68",
        "type": "switch",
        "z": "7ee81df4.bfea84",
        "name": "Switch canal",
        "property": "payload.visitor.customFields.chanel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "telegram",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "whatsapp",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 490,
        "y": 1480,
        "wires": [
            [
                "3a9529df.ce3346"
            ],
            [
                "8bfe58f7.33d068",
                "76b872b1.5c0dec"
            ],
            [
                "6b5f84ff.2ec08c"
            ]
        ]
    },
    {
        "id": "6b5f84ff.2ec08c",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "WebHook SIN procesar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1580,
        "wires": []
    },
    {
        "id": "c40adad0.7fef58",
        "type": "comment",
        "z": "7ee81df4.bfea84",
        "name": "TODO: Check ROOM or DEPARTMENT???",
        "info": "",
        "x": 2510,
        "y": 140,
        "wires": []
    },
    {
        "id": "76b872b1.5c0dec",
        "type": "http response",
        "z": "7ee81df4.bfea84",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 660,
        "y": 1660,
        "wires": []
    },
    {
        "id": "45b8e400.ff61fc",
        "type": "catch",
        "z": "7ee81df4.bfea84",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1570,
        "y": 1040,
        "wires": [
            [
                "de1a14f9.c3e948"
            ]
        ]
    },
    {
        "id": "de1a14f9.c3e948",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 1060,
        "wires": []
    },
    {
        "id": "9f55ee15.5d98a",
        "type": "http in",
        "z": "7ee81df4.bfea84",
        "name": "Webhook from whatsapp",
        "url": "/whatsapp/inbound",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "62fe07d7.edbfd8",
                "792d7f15.1913a",
                "230558cb.e84f88"
            ]
        ]
    },
    {
        "id": "62fe07d7.edbfd8",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Whatsapp receiver",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 700,
        "wires": []
    },
    {
        "id": "792d7f15.1913a",
        "type": "http response",
        "z": "7ee81df4.bfea84",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 320,
        "y": 980,
        "wires": []
    },
    {
        "id": "426449b7.49f8b8",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "New visitor",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://rocket.it.mindbot.com.ar/api/v1/livechat/visitor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1410,
        "y": 940,
        "wires": [
            [
                "56dfe2c5.cc323c",
                "176966ef.dae549"
            ]
        ]
    },
    {
        "id": "a14f41cc.7bee1",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "New visitor Payload",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/visitor#payload\n\n//Obtener datos de Telegram\nlet fullName = msg.originalMessage.results[0].contact.name;\n\n//Usar nro de telefono de WhatsApp - lo espera en String\nlet token = msg.originalMessage.results[0].from;\n\nlet visitor = {};\n\nvisitor.name = fullName;\nvisitor.token = token;\nvisitor.customFields = [];\n\n//Custom Field para informar el CANAL\nlet phone = token;\n\nvisitor.customFields.push({key:\"chanel\", value:\"whatsapp\", overwrite:true});\n//TODO: Agregar dato de BOT vs de Agente (customFields)\nvisitor.customFields.push({key:\"phone\", value:token, overwrite:true});\n\nmsg.payload = {};\nmsg.payload.visitor = visitor;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1150,
        "y": 940,
        "wires": [
            [
                "e7cf9009.e204",
                "426449b7.49f8b8"
            ]
        ]
    },
    {
        "id": "e7cf9009.e204",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "New visitor Payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 880,
        "wires": []
    },
    {
        "id": "230558cb.e84f88",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Get visitor data Payload",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/visitor#payload\n\n//Usar nro de telefono de WhatsApp como TOKEN\n//Guardo el mensaje original\nlet originalMessage = msg.payload;\nmsg.originalMessage = originalMessage;\n\nlet token = msg.originalMessage.results[0].from;\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/visitor/\" + token;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 780,
        "wires": [
            [
                "29f0e9db.4a95f6"
            ]
        ]
    },
    {
        "id": "29f0e9db.4a95f6",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Get visitor data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 740,
        "y": 780,
        "wires": [
            [
                "1dbe982f.7899f8",
                "dabd246d.c50d88"
            ]
        ]
    },
    {
        "id": "1dbe982f.7899f8",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Get visitor data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 700,
        "wires": []
    },
    {
        "id": "56dfe2c5.cc323c",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "New visitor Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 880,
        "wires": []
    },
    {
        "id": "baad55e3.dd67f8",
        "type": "comment",
        "z": "7ee81df4.bfea84",
        "name": "Example response",
        "info": "{\"visitor\":{\"_id\":\"5NeTKRb5YzZ4wE3Mi\",\"username\":\"guest-6\",\"ts\":\"2021-01-19T12:26:32.789Z\",\"ip\":\"192.168.1.1\",\"host\":\"rocket.it.mindbot.com.ar\",\"_updatedAt\":\"2021-01-19T12:26:32.791Z\",\"name\":\"Andres Petrillo\",\"token\":\"869282068\"},\"success\":true}\n\n{\"visitor\":{\"_id\":\"5NeTKRb5YzZ4wE3Mi\",\"username\":\"guest-6\",\"ts\":\"2021-01-19T12:26:32.789Z\",\"ip\":\"192.168.1.1\",\"host\":\"rocket.it.mindbot.com.ar\",\"_updatedAt\":\"2021-01-19T12:26:32.791Z\",\"name\":\"Andres Petrillo\",\"token\":\"869282068\"},\"success\":true}",
        "x": 870,
        "y": 880,
        "wires": []
    },
    {
        "id": "dabd246d.c50d88",
        "type": "switch",
        "z": "7ee81df4.bfea84",
        "name": "Check visitor exists",
        "property": "payload.visitor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 780,
        "wires": [
            [
                "54b021e6.d83d7",
                "176966ef.dae549"
            ],
            [
                "a14f41cc.7bee1",
                "7d0bfcff.af0944"
            ]
        ]
    },
    {
        "id": "176966ef.dae549",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Get config (Obtengo room)",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar nro de telefono de Wahtsapp\nlet token = msg.originalMessage.results[0].from;\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/config?token=\" + token;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1620,
        "y": 780,
        "wires": [
            [
                "9e119b.93cdce68"
            ]
        ]
    },
    {
        "id": "9e119b.93cdce68",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Get config",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1870,
        "y": 780,
        "wires": [
            [
                "229e7882.3652a8"
            ]
        ]
    },
    {
        "id": "229e7882.3652a8",
        "type": "json",
        "z": "7ee81df4.bfea84",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2050,
        "y": 780,
        "wires": [
            [
                "d4a778ed.12b818",
                "49d87cc1.7d91b4"
            ]
        ]
    },
    {
        "id": "d4a778ed.12b818",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "to json",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2350,
        "y": 640,
        "wires": []
    },
    {
        "id": "f18bd20f.73c6c",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Send Message",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\n\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/message\"\n\nlet originalPayload = msg.payload;\n\nmsg.payload = {};\nmsg.payload.token = originalPayload.config.guest.token;\nmsg.payload.rid = originalPayload.config.room._id;\nmsg.payload.msg = msg.originalMessage.results[0].message.text;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2580,
        "y": 780,
        "wires": [
            [
                "3907b8a4.e28e88"
            ]
        ]
    },
    {
        "id": "562dd6e6.acaf78",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Send Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3000,
        "y": 640,
        "wires": []
    },
    {
        "id": "54b021e6.d83d7",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "visitor EXISTS",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 720,
        "wires": []
    },
    {
        "id": "7d0bfcff.af0944",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "visitor NOT EXISTS",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 1000,
        "wires": []
    },
    {
        "id": "49d87cc1.7d91b4",
        "type": "switch",
        "z": "7ee81df4.bfea84",
        "name": "Check room exists",
        "property": "payload.config.room",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2270,
        "y": 780,
        "wires": [
            [
                "f18bd20f.73c6c"
            ],
            [
                "8f25fb78.5d9c68"
            ]
        ]
    },
    {
        "id": "8f25fb78.5d9c68",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Get room (crear room)",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar telefono de WhatsApp como TOKEN\nlet token = msg.originalMessage.results[0].from;\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/room?token=\" + token;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2300,
        "y": 900,
        "wires": [
            [
                "52f1b528.c5b1cc"
            ]
        ]
    },
    {
        "id": "52f1b528.c5b1cc",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Get room",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2540,
        "y": 900,
        "wires": [
            [
                "8c284ea4.6cb3b",
                "236503ab.0aacfc"
            ]
        ]
    },
    {
        "id": "8c284ea4.6cb3b",
        "type": "json",
        "z": "7ee81df4.bfea84",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2730,
        "y": 900,
        "wires": [
            [
                "32a393d9.c16a9c"
            ]
        ]
    },
    {
        "id": "32a393d9.c16a9c",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Send Message",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\n\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/message\"\n\nlet originalPayload = msg.payload;\n\nmsg.payload = {};\nmsg.payload.token = originalPayload.room.v.token;\nmsg.payload.rid = originalPayload.room._id;\nmsg.payload.msg = msg.originalMessage[0].message.text;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2900,
        "y": 900,
        "wires": [
            [
                "59a9d5ce.eb061c",
                "7b92ba36.fe3b44"
            ]
        ]
    },
    {
        "id": "59a9d5ce.eb061c",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Send Message (new Room)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3200,
        "y": 820,
        "wires": []
    },
    {
        "id": "3907b8a4.e28e88",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Send message",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2860,
        "y": 780,
        "wires": [
            [
                "562dd6e6.acaf78"
            ]
        ]
    },
    {
        "id": "7b92ba36.fe3b44",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Send message",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 3160,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "d2432921.d9d298",
        "type": "comment",
        "z": "7ee81df4.bfea84",
        "name": "TODO: Check ROOM or DEPARTMENT???",
        "info": "",
        "x": 2430,
        "y": 720,
        "wires": []
    },
    {
        "id": "8bfe58f7.33d068",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Set message",
        "func": "//Respuesta a Whatsapp\n//chatId: 869282068\n//messageId: 1938\n//type: \"message\"\n//content: \"hola\"\nmsg.headers = {};\nmsg.headers['Authorization'] = \"App 9e66295544f076806ab9751a06f65722-dc79f206-56d4-4e42-b14a-61d60c4b36e0\";\nmsg.headers['Content-Type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n \nmsg.payload.scenarioKey = \"E1DC1DBC2BEED01B894E15AD3AEA64DA\";\nmsg.payload.destinations = [];\nmsg.payload.whatsApp = {};\n\nlet destination = {};\nlet to= {};\n\n//Nro de telefono del cliente\nto.phoneNumber = msg.payload.visitor.token;\ndestination.to = to;\n\nmsg.payload.destinations.push(destination);\n\nlet text = msg.payload.messages[0].msg || \"archivo adjunto\";\n\nmsg.payload.whatsApp.text =text ;\n\n//Si tiene attachment\nif(msg.payload.messages[0].fileUpload) {\n    //TODO: Revisar tipo de mensaje\n    \n    if (msg.payload.messages[0].fileUpload.type.toLowerCase().includes(\"image\")) {\n        msg.payload.whatsApp.imageUrl = msg.payload.messages[0].fileUpload.publicFilePath;\n    }\n    \n    if (msg.payload.messages[0].fileUpload.type.toLowerCase().includes(\"file\")) {\n        msg.payload.whatsApp.fileUrl = msg.payload.messages[0].fileUpload.publicFilePath;\n    }\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 1480,
        "wires": [
            [
                "60d612db.6df9dc",
                "d4471d75.eba42",
                "9289a7ad.1e2618"
            ]
        ]
    },
    {
        "id": "60d612db.6df9dc",
        "type": "http response",
        "z": "7ee81df4.bfea84",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1180,
        "y": 1540,
        "wires": []
    },
    {
        "id": "236503ab.0aacfc",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Get room",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2700,
        "y": 980,
        "wires": []
    },
    {
        "id": "d4471d75.eba42",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Whatsapp Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 1640,
        "wires": []
    },
    {
        "id": "9289a7ad.1e2618",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mp9856.api.infobip.com/omni/1/advanced",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1230,
        "y": 1480,
        "wires": [
            [
                "9e9b55d3.fcdd78"
            ]
        ]
    },
    {
        "id": "9e9b55d3.fcdd78",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Infobip Send Advanced",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 1480,
        "wires": []
    },
    {
        "id": "74fab392.722fac",
        "type": "http in",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "url": "/client/:document",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "d1b3fb17.f40ba8",
                "31a42265.9745ce"
            ]
        ]
    },
    {
        "id": "d1b3fb17.f40ba8",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "func": "var document = msg.req.params.document;\n\n//TODO: Servicio de provincia\nif (document == \"29129613\")\n{\n    msg.payload.clientId = 12345678;\n    msg.payload.insurances = [];\n    \n    var insurance = {};\n    insurance.code = 5123123;\n    insurance.ramo = 4;\n    insurance.address = \"Sarachaga 4956, CABA, Argentina\";\n    insurance.payMethod = \"Credit Card\";\n    \n    msg.payload.insurances.push(insurance);\n    \n    msg.statusCode = 200;\n} else {\n    msg.statusCode = 404;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 120,
        "wires": [
            [
                "1b3e6dc.1373c92"
            ]
        ]
    },
    {
        "id": "1b3e6dc.1373c92",
        "type": "http response",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "37ec261b.6418da",
        "type": "http in",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "url": "/insurances/:clientId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "861916ad.baaae8"
            ]
        ]
    },
    {
        "id": "861916ad.baaae8",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "func": "var clientId = msg.req.params[\"clientId\"];\n\n//TODO: Servicio de provincia\n\nmsg.payload.clientId = 12345678;\nmsg.payload.insurances = [];\n\nvar today = new Date();\nvar nextweek = new Date();\nnextweek.setDate(today.getDate()+7);\n\nvar insurance = {};\ninsurance.code = 5123123;\ninsurance.ramo = 4;\ninsurance.address = \"Sarachaga 4956, CABA, Argentina\";\ninsurance.payMethod = \"Credit Card\";\ninsurance.nextPayment = nextweek;\n\nmsg.payload.insurances.push(insurance);\n\nvar insurance2 = {};\ninsurance2.code = 98734123;\ninsurance2.ramo = 8;\ninsurance2.address = \"Sarachaga 4956, CABA, Argentina\";\ninsurance2.payMethod = \"Credit Card\";\ninsurance2.nextPayment = nextweek;\n\nmsg.payload.insurances.push(insurance2);\n\nmsg.statusCode = 200;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 240,
        "wires": [
            [
                "c312c868.16aae8"
            ]
        ]
    },
    {
        "id": "c312c868.16aae8",
        "type": "http response",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "31a42265.9745ce",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "getClient",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "66fe2f7b.a21dd",
        "type": "http in",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "url": "/car/brand/:brandName",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "836bf80b.747198",
                "cd412cd6.d883"
            ]
        ]
    },
    {
        "id": "47bf6c1.9169a94",
        "type": "http request",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros - Marcas",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://apimt.provinciaseguros.com.ar/gateway/PS/PS-COTIZACION/2.2/valores/marcas/4/04100?apikey=9cc893f8-c119-4eeb-8d68-a3d305927fed",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 480,
        "wires": [
            [
                "c1ff2f41.ce92f"
            ]
        ]
    },
    {
        "id": "b32cf65f.ced7b8",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros - brands",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "836bf80b.747198",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros - Marcas",
        "func": "//Primero guardo marca que busco\nmsg.searchCriteria = msg.req.params.brandName; \n\nmsg.url = \"https://apimt.provinciaseguros.com.ar/gateway/PS/PS-COTIZACION/2.2/valores/marcas/4/04100?apikey=9cc893f8-c119-4eeb-8d68-a3d305927fed\";\n\nmsg.headers = {};\n\nmsg.headers['Authorization'] = \"Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJGSjg2R2NGM2pUYk5MT2NvNE52WmtVQ0lVbWZZQ3FvcXRPUWVNZmJoTmxFIn0.eyJqdGkiOiI4OGMxMDNhNC0yOGE4LTRjZWItYmZjNy1kYjIzMWZhOTEwNTAiLCJleHAiOjE2MTI4MzI4MTMsIm5iZiI6MCwiaWF0IjoxNjEyNzk2ODEzLCJpc3MiOiJodHRwczovL2F1dGh0LnByb3ZpbmNpYXNlZ3Vyb3MuY29tLmFyL2F1dGgvcmVhbG1zL3BzIiwiYXVkIjoicHMyIiwic3ViIjoiZmI3ZDIzMjMtMThkZi00NWY1LTkyZGItYTU3YWRkNWI5M2VmIiwidHlwIjoiQmVhcmVyIiwiYXpwIjoicHMyIiwiYXV0aF90aW1lIjowLCJzZXNzaW9uX3N0YXRlIjoiNDk3ZDFiMjctMmM2Yy00N2MxLWEyOGEtYzk3NDgwN2VjYzJhIiwiYWNyIjoiMSIsImFsbG93ZWQtb3JpZ2lucyI6WyJodHRwOi8vbG9jYWxob3N0OjgwODAiLCJodHRwczovL2F1dGh0LnByb3ZpbmNpYXNlZ3Vyb3MuY29tLmFyL2F1dGgiLCJodHRwOi8vbG9jYWxob3N0OjgwODEiXSwicmVhbG1fYWNjZXNzIjp7InJvbGVzIjpbIm9mZmxpbmVfYWNjZXNzIiwidW1hX2F1dGhvcml6YXRpb24iLCJhcGl1c2VyIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsicHMyLXRlc3QiOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iXX0sInBvcnRhbC1wYXMiOnsicm9sZXMiOlsiMDA3OlJvbCBGdWxsIFVzZXIiXX0sInBzLWNvdGl6YWNpb24iOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iXX0sInBzLXBsIjp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIl19LCJwcy1lbWlzaW9uIjp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIl19LCJwczIiOnsicm9sZXMiOlsicHMyRW1pc2lvbiIsInBzMkNvdGl6YWNpb24iLCJ1bWFfcHJvdGVjdGlvbiIsInBzMmluc3BlY2Npb24iLCJwc1phbWJhVXRpbCJdfSwiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJjb2RpZ29Qcm9kdWN0b3IiOiI4NTA0IiwidXN1YXJpb19yZWN0b3IiOiJwZXRyaWxsb2EiLCJuYW1lIjoiQW5kcmVzIFBldHJpbGxvIiwicHJlZmVycmVkX3VzZXJuYW1lIjoicGV0cmlsbG9hQHBzZWd1cm9zLmNvbS5hciIsImxvY2FsZSI6ImVzIiwiZ2l2ZW5fbmFtZSI6IkFuZHJlcyIsImZhbWlseV9uYW1lIjoiUGV0cmlsbG8iLCJpZF9yb2xfcmVjdG9yIjoiMTAwMDEiLCJlbWFpbCI6InBldHJpbGxvYUBwc2VndXJvcy5jb20uYXIifQ.OJhuk6TDB15ELotDxOpxyXEAVK8R2r6GYv-dOWsuE84TDyWayYMeMH9-vzuCnKpNXAnkWsxG3nS1qIW_HpqXVWODYFk4Zvcr7g_1Mm7rulC192eKERlG_q1sY0Ew56ZSkxUJCDNamoKwwkuyhyCCHce-6_Nb5FjOKAYt4IzfwrU\";\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "47bf6c1.9169a94"
            ]
        ]
    },
    {
        "id": "c1ff2f41.ce92f",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "function Search",
        "func": "var marcas = msg.payload;\nvar searchCriteria = msg.searchCriteria;\nvar results = [];\n\n//TODO: Funcion loca, recorrer array, o buscar alternativa\n//Aplanar json para ahcer busqueda en un nivel\n//ver fuzzyMatch\n\nmarcas.forEach(marca => {\n  if (marca.descripcion.toLowerCase().includes(searchCriteria))\n        results.push(marca);\n}) \n\nmsg.results = results;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 480,
        "wires": [
            [
                "b32cf65f.ced7b8",
                "af4b0342.00155"
            ]
        ]
    },
    {
        "id": "cd412cd6.d883",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Car/Brand",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "af4b0342.00155",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "function Response",
        "func": "let response = msg.results[0];\n\nmsg.payload = response;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1060,
        "y": 480,
        "wires": [
            [
                "8e7b71c6.29843"
            ]
        ]
    },
    {
        "id": "8e7b71c6.29843",
        "type": "http response",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1290,
        "y": 340,
        "wires": []
    },
    {
        "id": "603fcb43.3f0794",
        "type": "http in",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "url": "/car/model/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 600,
        "wires": [
            [
                "c7925d5e.b2c4e",
                "d5f623bc.09378"
            ]
        ]
    },
    {
        "id": "c7925d5e.b2c4e",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Car/Model",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "d5f623bc.09378",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros - Modelo",
        "func": "//Primero guardo marca que busco\nmsg.searchCriteria = msg.payload.model; \n\n\nmsg.url =  `https://apimt.provinciaseguros.com.ar/gateway/PS/PS-COTIZACION/2.2/valores/modelo/4/04100/${msg.payload.brand}/${msg.payload.year}/${msg.payload.new}?apikey=9cc893f8-c119-4eeb-8d68-a3d305927fed`;\n\nmsg.headers = {};\n\nmsg.headers['Authorization'] = \"Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJGSjg2R2NGM2pUYk5MT2NvNE52WmtVQ0lVbWZZQ3FvcXRPUWVNZmJoTmxFIn0.eyJqdGkiOiI4OGMxMDNhNC0yOGE4LTRjZWItYmZjNy1kYjIzMWZhOTEwNTAiLCJleHAiOjE2MTI4MzI4MTMsIm5iZiI6MCwiaWF0IjoxNjEyNzk2ODEzLCJpc3MiOiJodHRwczovL2F1dGh0LnByb3ZpbmNpYXNlZ3Vyb3MuY29tLmFyL2F1dGgvcmVhbG1zL3BzIiwiYXVkIjoicHMyIiwic3ViIjoiZmI3ZDIzMjMtMThkZi00NWY1LTkyZGItYTU3YWRkNWI5M2VmIiwidHlwIjoiQmVhcmVyIiwiYXpwIjoicHMyIiwiYXV0aF90aW1lIjowLCJzZXNzaW9uX3N0YXRlIjoiNDk3ZDFiMjctMmM2Yy00N2MxLWEyOGEtYzk3NDgwN2VjYzJhIiwiYWNyIjoiMSIsImFsbG93ZWQtb3JpZ2lucyI6WyJodHRwOi8vbG9jYWxob3N0OjgwODAiLCJodHRwczovL2F1dGh0LnByb3ZpbmNpYXNlZ3Vyb3MuY29tLmFyL2F1dGgiLCJodHRwOi8vbG9jYWxob3N0OjgwODEiXSwicmVhbG1fYWNjZXNzIjp7InJvbGVzIjpbIm9mZmxpbmVfYWNjZXNzIiwidW1hX2F1dGhvcml6YXRpb24iLCJhcGl1c2VyIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsicHMyLXRlc3QiOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iXX0sInBvcnRhbC1wYXMiOnsicm9sZXMiOlsiMDA3OlJvbCBGdWxsIFVzZXIiXX0sInBzLWNvdGl6YWNpb24iOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iXX0sInBzLXBsIjp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIl19LCJwcy1lbWlzaW9uIjp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIl19LCJwczIiOnsicm9sZXMiOlsicHMyRW1pc2lvbiIsInBzMkNvdGl6YWNpb24iLCJ1bWFfcHJvdGVjdGlvbiIsInBzMmluc3BlY2Npb24iLCJwc1phbWJhVXRpbCJdfSwiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJjb2RpZ29Qcm9kdWN0b3IiOiI4NTA0IiwidXN1YXJpb19yZWN0b3IiOiJwZXRyaWxsb2EiLCJuYW1lIjoiQW5kcmVzIFBldHJpbGxvIiwicHJlZmVycmVkX3VzZXJuYW1lIjoicGV0cmlsbG9hQHBzZWd1cm9zLmNvbS5hciIsImxvY2FsZSI6ImVzIiwiZ2l2ZW5fbmFtZSI6IkFuZHJlcyIsImZhbWlseV9uYW1lIjoiUGV0cmlsbG8iLCJpZF9yb2xfcmVjdG9yIjoiMTAwMDEiLCJlbWFpbCI6InBldHJpbGxvYUBwc2VndXJvcy5jb20uYXIifQ.OJhuk6TDB15ELotDxOpxyXEAVK8R2r6GYv-dOWsuE84TDyWayYMeMH9-vzuCnKpNXAnkWsxG3nS1qIW_HpqXVWODYFk4Zvcr7g_1Mm7rulC192eKERlG_q1sY0Ew56ZSkxUJCDNamoKwwkuyhyCCHce-6_Nb5FjOKAYt4IzfwrU\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 700,
        "wires": [
            [
                "75b05f2f.efc48"
            ]
        ]
    },
    {
        "id": "8b524e35.de3c7",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "model",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "75b05f2f.efc48",
        "type": "http request",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros - Modelos",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "8b524e35.de3c7",
                "764e2a97.a29284"
            ]
        ]
    },
    {
        "id": "5b662a2a.265cc4",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 560,
        "wires": []
    },
    {
        "id": "ab3a6e0d.08228",
        "type": "http response",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1390,
        "y": 600,
        "wires": []
    },
    {
        "id": "f90bbab4.8648b8",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "function Response",
        "func": "let response = msg.results;\n\nmsg.payload = response;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1150,
        "y": 700,
        "wires": [
            [
                "ab3a6e0d.08228",
                "a21a06e4.5f1a18"
            ]
        ]
    },
    {
        "id": "84bcab1e.218388",
        "type": "http in",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "url": "/quotation",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 840,
        "wires": [
            [
                "8d1f8743.53ca18",
                "bf1e0de8.73f14"
            ]
        ]
    },
    {
        "id": "8d1f8743.53ca18",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros - Cotizacion",
        "func": "\nmsg.url =  `https://apimt.provinciaseguros.com.ar/gateway/PS/PS-COTIZACION/2.2/cotizar?apikey=9cc893f8-c119-4eeb-8d68-a3d305927fed`;\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJGSjg2R2NGM2pUYk5MT2NvNE52WmtVQ0lVbWZZQ3FvcXRPUWVNZmJoTmxFIn0.eyJqdGkiOiI4OGMxMDNhNC0yOGE4LTRjZWItYmZjNy1kYjIzMWZhOTEwNTAiLCJleHAiOjE2MTI4MzI4MTMsIm5iZiI6MCwiaWF0IjoxNjEyNzk2ODEzLCJpc3MiOiJodHRwczovL2F1dGh0LnByb3ZpbmNpYXNlZ3Vyb3MuY29tLmFyL2F1dGgvcmVhbG1zL3BzIiwiYXVkIjoicHMyIiwic3ViIjoiZmI3ZDIzMjMtMThkZi00NWY1LTkyZGItYTU3YWRkNWI5M2VmIiwidHlwIjoiQmVhcmVyIiwiYXpwIjoicHMyIiwiYXV0aF90aW1lIjowLCJzZXNzaW9uX3N0YXRlIjoiNDk3ZDFiMjctMmM2Yy00N2MxLWEyOGEtYzk3NDgwN2VjYzJhIiwiYWNyIjoiMSIsImFsbG93ZWQtb3JpZ2lucyI6WyJodHRwOi8vbG9jYWxob3N0OjgwODAiLCJodHRwczovL2F1dGh0LnByb3ZpbmNpYXNlZ3Vyb3MuY29tLmFyL2F1dGgiLCJodHRwOi8vbG9jYWxob3N0OjgwODEiXSwicmVhbG1fYWNjZXNzIjp7InJvbGVzIjpbIm9mZmxpbmVfYWNjZXNzIiwidW1hX2F1dGhvcml6YXRpb24iLCJhcGl1c2VyIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsicHMyLXRlc3QiOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iXX0sInBvcnRhbC1wYXMiOnsicm9sZXMiOlsiMDA3OlJvbCBGdWxsIFVzZXIiXX0sInBzLWNvdGl6YWNpb24iOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iXX0sInBzLXBsIjp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIl19LCJwcy1lbWlzaW9uIjp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIl19LCJwczIiOnsicm9sZXMiOlsicHMyRW1pc2lvbiIsInBzMkNvdGl6YWNpb24iLCJ1bWFfcHJvdGVjdGlvbiIsInBzMmluc3BlY2Npb24iLCJwc1phbWJhVXRpbCJdfSwiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJjb2RpZ29Qcm9kdWN0b3IiOiI4NTA0IiwidXN1YXJpb19yZWN0b3IiOiJwZXRyaWxsb2EiLCJuYW1lIjoiQW5kcmVzIFBldHJpbGxvIiwicHJlZmVycmVkX3VzZXJuYW1lIjoicGV0cmlsbG9hQHBzZWd1cm9zLmNvbS5hciIsImxvY2FsZSI6ImVzIiwiZ2l2ZW5fbmFtZSI6IkFuZHJlcyIsImZhbWlseV9uYW1lIjoiUGV0cmlsbG8iLCJpZF9yb2xfcmVjdG9yIjoiMTAwMDEiLCJlbWFpbCI6InBldHJpbGxvYUBwc2VndXJvcy5jb20uYXIifQ.OJhuk6TDB15ELotDxOpxyXEAVK8R2r6GYv-dOWsuE84TDyWayYMeMH9-vzuCnKpNXAnkWsxG3nS1qIW_HpqXVWODYFk4Zvcr7g_1Mm7rulC192eKERlG_q1sY0Ew56ZSkxUJCDNamoKwwkuyhyCCHce-6_Nb5FjOKAYt4IzfwrU\";\nmsg.headers['Content-type'] = \"application/json\";\n\nlet year = msg.payload.year;\nlet brand = msg.payload.brand;\nlet model = msg.payload.model;\nlet nuevo = msg.payload.nuevo;\nlet vehicleValue = msg.payload.vehicleValue\nlet vehicleUse = msg.payload.vehicleUse\n\n\nlet bodyCotizacion = {};\n\nbodyCotizacion.contacto = {};\nbodyCotizacion.contacto.dni = '29129613';\nbodyCotizacion.contacto.cuit = \"\";\nbodyCotizacion.contacto.nombre = \"\";\nbodyCotizacion.contacto.celular = \"\";\nbodyCotizacion.contacto.email = \"\";\nbodyCotizacion.contacto.canal = \"\";\n\nbodyCotizacion.ramoProducto = {};\nbodyCotizacion.ramoProducto.ramo = \"4\";\nbodyCotizacion.ramoProducto.producto = \"04100\";\n\nbodyCotizacion.datosGenerales = {};\nbodyCotizacion.datosGenerales.codProductor = \"8504\";\nbodyCotizacion.datosGenerales.provincia = \"1\";\nbodyCotizacion.datosGenerales.tipoPersona = \"F\";\nbodyCotizacion.datosGenerales.medioDePago = \"2\";\nbodyCotizacion.datosGenerales.origenDePago = \"VISO\";\nbodyCotizacion.datosGenerales.condicionIva = \"CF\";\nbodyCotizacion.datosGenerales.cuit = \"\";\nbodyCotizacion.datosGenerales.vigencia = \"E\";\nbodyCotizacion.datosGenerales.vigenciaTecnica = \"A\";\nbodyCotizacion.datosGenerales.tipoFacturacion = \"F\";\nbodyCotizacion.datosGenerales.moneda = \"01\";\nbodyCotizacion.datosGenerales.planDePago = \"1\";\nbodyCotizacion.datosGenerales.modoDeCalculo = \"N\";\n\nbodyCotizacion.bien = {};\nbodyCotizacion.bien[\"40012_anio\"] = year;\nbodyCotizacion.bien[\"40013_es0km\"] = nuevo;\nbodyCotizacion.bien[\"40020_marca\"] = brand;\nbodyCotizacion.bien[\"40021_modelo\"] = model;\nbodyCotizacion.bien[\"40008_uso\"] = vehicleUse;\nbodyCotizacion.bien[\"40220_ValorDEVehiculo\"] = vehicleValue;\nbodyCotizacion.bien[\"900008_codPostal\"] = \"1407\";\nbodyCotizacion.bien[\"40086_genero\"] = \"M\";\nbodyCotizacion.bien.montoAccesorios = \"100\";\n\nbodyCotizacion.promociones = [{promocion : \"NOAP\"}, {promocion : \"PS2019\"}];\n\n\n\n\nmsg.payload = bodyCotizacion;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 840,
        "wires": [
            [
                "64a30bba.f6b394"
            ]
        ]
    },
    {
        "id": "c13be3c5.cfa1e",
        "type": "http response",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1190,
        "y": 840,
        "wires": []
    },
    {
        "id": "64a30bba.f6b394",
        "type": "http request",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros - Cotizacion",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 740,
        "y": 840,
        "wires": [
            [
                "777e7ab9.a18114",
                "d0e74ef4.b0846"
            ]
        ]
    },
    {
        "id": "a21a06e4.5f1a18",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 540,
        "wires": []
    },
    {
        "id": "f5665931.d4a3b8",
        "type": "inject",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "TEST!",
        "payloadType": "str",
        "x": 1560,
        "y": 220,
        "wires": [
            [
                "c2e9e61e.d28558"
            ]
        ]
    },
    {
        "id": "c2e9e61e.d28558",
        "type": "function-npm",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "func": "const {distance, closest} = require('fastest-levenshtein');\n\nmsg.payload = {};\n\ntry {\n    // Print levenshtein-distance between 'fast' and 'faster' \nmsg.payload.distance = distance('fast', 'faster');\n//=> 2\n\n// Print string from array with lowest edit-distance to 'fast'\nmsg.payload.closest = closest('FIESTA TITANIUM', ['FIESTA  1.6 4P S              (KD) (018594)', 'FIESTA  1.6 4P TITANIUM       (KD) (018598)']);\n\n}catch (exception) {\n    node.error(\"Error\", exception)\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1770,
        "y": 220,
        "wires": [
            [
                "18b222a1.7b5e2d"
            ]
        ]
    },
    {
        "id": "18b222a1.7b5e2d",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1950,
        "y": 220,
        "wires": []
    },
    {
        "id": "764e2a97.a29284",
        "type": "function-npm",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "func": "const {distance, closest} = require('fastest-levenshtein');\n\ntry {\n    // Print levenshtein-distance between 'fast' and 'faster' \n    msg.payload.distance = distance('fast', 'faster');\n    //=> 2\n\n    // Print string from array with lowest edit-distance to 'fast'\n    //msg.payload.closest = closest('FIESTA TITANIUM', ['FIESTA  1.6 4P S              (KD) (018594)', 'FIESTA  1.6 4P TITANIUM       (KD) (018598)']);\n    \n    var modelos = msg.payload;\n     \n    var searchCriteriaPrincipal = msg.searchCriteria.split(\" \")[0];\n    var searchCriteria = msg.searchCriteria;\n    var preResults = [];\n    var results = [];\n    var flatened = [];\n    \n    \n    //TODO: Funcion loca, recorrer array, o buscar alternativa\n    //Aplanar json para ahcer busqueda en un nivel\n    //ver fuzzyMatch\n    //matchear similitud searchCriteria contra modelo.descripcion y\n    // pushear codigo\n    modelos.forEach(modelo => {\n      if (modelo.descripcion.toLowerCase().includes(searchCriteriaPrincipal.toLowerCase()))\n            preResults.push(modelo);\n    }) \n    \n    preResults.forEach(modeloFiltered => {\n        let dist = distance(searchCriteria, modeloFiltered.descripcion.replace(/ /g, ''));\n        results.push({dist, modeloFiltered});\n        //flatened.push(modelo.descripcion.replace(/ /g, ''));\n    })\n    \n    //var result = closest(searchCriteria, flatened);\n    //results.push(result);\n    msg.searchCriteriaPrincipal = searchCriteriaPrincipal;\n    msg.preresults = preResults;\n    \n    //Algoritmo para ordenar\n    msg.results = results.sort((a,b) => (a.dist > b.dist) ? 1 : ((b.dist > a.dist) ? -1 : 0));\n\nreturn msg;\n    \n\n}catch (exception) {\n    node.error(\"Error\", exception)\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 700,
        "wires": [
            [
                "f90bbab4.8648b8",
                "5b662a2a.265cc4"
            ]
        ]
    },
    {
        "id": "e6b5e140.eacb2",
        "type": "http in",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "url": "accessToken",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1770,
        "y": 360,
        "wires": [
            [
                "dd2b4f47.70c5d",
                "2cf5951c.b3a53a"
            ]
        ]
    },
    {
        "id": "2cf5951c.b3a53a",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros Token",
        "func": "msg.headers={ \n    'Content-Type': 'application/x-www-form-urlencoded'\n};\n\nlet formAccess = {}\n\nformAccess={\n    'grant_type' :  'password',\n    'username' : 'petrilloa@pseguros.com.ar',\n    'password' :'andres123',\n    'client_secret' : 'd5cd926e-3f94-48df-9c4a-2f3d7b9381d1',\n    'client_id' : 'ps2'\n};\n\nmsg.payload = formAccess\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2040,
        "y": 420,
        "wires": [
            [
                "5637a943.bf15d8",
                "b5c51ee.7fe40e"
            ]
        ]
    },
    {
        "id": "ebc08613.685638",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2450,
        "y": 300,
        "wires": []
    },
    {
        "id": "b5c51ee.7fe40e",
        "type": "http request",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros - Token",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://autht.provinciaseguros.com.ar/auth/realms/ps/protocol/openid-connect/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2270,
        "y": 420,
        "wires": [
            [
                "ebc08613.685638",
                "3dee67ac.fd14b8"
            ]
        ]
    },
    {
        "id": "777e7ab9.a18114",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "response",
        "func": "//TODO: Consruir la respuesta para el Bien\n\nlet planesName = []\n\nmsg.payload.planes.forEach(plan => {\n    planesName.push(plan.descripcion)\n})\n\nmsg.payload = planesName\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 840,
        "wires": [
            [
                "c13be3c5.cfa1e",
                "5a1325f8.9dc51c"
            ]
        ]
    },
    {
        "id": "c961deaa.ba28a",
        "type": "http response",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2650,
        "y": 380,
        "wires": []
    },
    {
        "id": "e22c6966.0c6c78",
        "type": "http in",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "url": "policies",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 1040,
        "wires": [
            [
                "6572d34e.a7228c"
            ]
        ]
    },
    {
        "id": "6572d34e.a7228c",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros IVR",
        "func": "let documento =  msg.payload.document\nlet policy =  msg.payload.policyNumber\n\n\nmsg.url = `https://apimt.provinciaseguros.com.ar/gateway/PS/PS-NOVEDADES/3.0/executeDataIVR/${documento}/IVR/${policy}?apiKey=9cc893f8-c119-4eeb-8d68-a3d305927fed`;\n\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJGSjg2R2NGM2pUYk5MT2NvNE52WmtVQ0lVbWZZQ3FvcXRPUWVNZmJoTmxFIn0.eyJqdGkiOiJiNTM5OTZhMy1jYTdmLTQwMDAtOGE5NC0yMjY0YzkwZWY4NmMiLCJleHAiOjE2MTI5MTUwNTksIm5iZiI6MCwiaWF0IjoxNjEyODc5MDU5LCJpc3MiOiJodHRwczovL2F1dGh0LnByb3ZpbmNpYXNlZ3Vyb3MuY29tLmFyL2F1dGgvcmVhbG1zL3BzIiwiYXVkIjoicHMyIiwic3ViIjoiZmI3ZDIzMjMtMThkZi00NWY1LTkyZGItYTU3YWRkNWI5M2VmIiwidHlwIjoiQmVhcmVyIiwiYXpwIjoicHMyIiwiYXV0aF90aW1lIjowLCJzZXNzaW9uX3N0YXRlIjoiNTA4OGU2YmMtMjU3Mi00N2QzLWI5M2EtNDFiZDUyOWVhZDJhIiwiYWNyIjoiMSIsImFsbG93ZWQtb3JpZ2lucyI6WyJodHRwOi8vbG9jYWxob3N0OjgwODAiLCJodHRwczovL2F1dGh0LnByb3ZpbmNpYXNlZ3Vyb3MuY29tLmFyL2F1dGgiLCJodHRwOi8vbG9jYWxob3N0OjgwODEiXSwicmVhbG1fYWNjZXNzIjp7InJvbGVzIjpbIm9mZmxpbmVfYWNjZXNzIiwidW1hX2F1dGhvcml6YXRpb24iLCJhcGl1c2VyIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsicHMyLXRlc3QiOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iXX0sInBvcnRhbC1wYXMiOnsicm9sZXMiOlsiMDA3OlJvbCBGdWxsIFVzZXIiXX0sInBzLWNvdGl6YWNpb24iOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iXX0sInBzLXBsIjp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIl19LCJwcy1lbWlzaW9uIjp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIl19LCJwczIiOnsicm9sZXMiOlsicHMyRW1pc2lvbiIsInBzMkNvdGl6YWNpb24iLCJ1bWFfcHJvdGVjdGlvbiIsInBzMmluc3BlY2Npb24iLCJwc1phbWJhVXRpbCJdfSwiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJjb2RpZ29Qcm9kdWN0b3IiOiI4NTA0IiwidXN1YXJpb19yZWN0b3IiOiJwZXRyaWxsb2EiLCJuYW1lIjoiQW5kcmVzIFBldHJpbGxvIiwicHJlZmVycmVkX3VzZXJuYW1lIjoicGV0cmlsbG9hQHBzZWd1cm9zLmNvbS5hciIsImxvY2FsZSI6ImVzIiwiZ2l2ZW5fbmFtZSI6IkFuZHJlcyIsImZhbWlseV9uYW1lIjoiUGV0cmlsbG8iLCJpZF9yb2xfcmVjdG9yIjoiMTAwMDEiLCJlbWFpbCI6InBldHJpbGxvYUBwc2VndXJvcy5jb20uYXIifQ.HoKIgVUBhaDEQOWTxrXA95LIUkfM1-yCarwj7Xre8i-kbw_3ZdHslPdL2Ss3hE2xtLbomgb6Q1DWQINcCxCQ2HE9gKQAJUhZxnfgEu0X0zzZ0zFIy0dzoNO9n2PpiRLW9VLfwid-tpQNvU4WEgXS9gcd_ZxekZxWI4MLMPgj9RY\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1040,
        "wires": [
            [
                "b8569a93.019928"
            ]
        ]
    },
    {
        "id": "53534f2b.1672c",
        "type": "http response",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1230,
        "y": 1040,
        "wires": []
    },
    {
        "id": "256ebbeb.6c7f14",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 960,
        "wires": []
    },
    {
        "id": "b8569a93.019928",
        "type": "http request",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros IVR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 720,
        "y": 1040,
        "wires": [
            [
                "256ebbeb.6c7f14",
                "4539cac6.a0aa64"
            ]
        ]
    },
    {
        "id": "d0e74ef4.b0846",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Respuesta Servicio",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 780,
        "wires": []
    },
    {
        "id": "5a1325f8.9dc51c",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Info para Cliente",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 780,
        "wires": []
    },
    {
        "id": "4539cac6.a0aa64",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "response",
        "func": "let policiesAndMenssage = {}\n\n\nif ( msg.payload.data.Polizas === null ){\n    policiesAndMenssage = msg.payload.data.Mensaje\n} else {\n    policiesAndMenssage = msg.payload.data\n}\n\n\n// node.warn(\"Data del IVR \" + msg.payload.data)\n \n\n\nmsg.payload = policiesAndMenssage;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 1040,
        "wires": [
            [
                "53534f2b.1672c",
                "38162b28.1e2a74"
            ]
        ]
    },
    {
        "id": "4a21ff30.78cab",
        "type": "http in",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "url": "inspection/",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 1200,
        "wires": [
            [
                "8fe61422.c12f48",
                "3bea474a.346988"
            ]
        ]
    },
    {
        "id": "8fe61422.c12f48",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros Inspeccion",
        "func": "msg.url = \"https://apimt.provinciaseguros.com.ar/gateway/PS/PS-INSPECCION/2.0/solicitarIpConCotizacion?apikey=9cc893f8-c119-4eeb-8d68-a3d305927fed\";\n\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJGSjg2R2NGM2pUYk5MT2NvNE52WmtVQ0lVbWZZQ3FvcXRPUWVNZmJoTmxFIn0.eyJqdGkiOiI4OGMxMDNhNC0yOGE4LTRjZWItYmZjNy1kYjIzMWZhOTEwNTAiLCJleHAiOjE2MTI4MzI4MTMsIm5iZiI6MCwiaWF0IjoxNjEyNzk2ODEzLCJpc3MiOiJodHRwczovL2F1dGh0LnByb3ZpbmNpYXNlZ3Vyb3MuY29tLmFyL2F1dGgvcmVhbG1zL3BzIiwiYXVkIjoicHMyIiwic3ViIjoiZmI3ZDIzMjMtMThkZi00NWY1LTkyZGItYTU3YWRkNWI5M2VmIiwidHlwIjoiQmVhcmVyIiwiYXpwIjoicHMyIiwiYXV0aF90aW1lIjowLCJzZXNzaW9uX3N0YXRlIjoiNDk3ZDFiMjctMmM2Yy00N2MxLWEyOGEtYzk3NDgwN2VjYzJhIiwiYWNyIjoiMSIsImFsbG93ZWQtb3JpZ2lucyI6WyJodHRwOi8vbG9jYWxob3N0OjgwODAiLCJodHRwczovL2F1dGh0LnByb3ZpbmNpYXNlZ3Vyb3MuY29tLmFyL2F1dGgiLCJodHRwOi8vbG9jYWxob3N0OjgwODEiXSwicmVhbG1fYWNjZXNzIjp7InJvbGVzIjpbIm9mZmxpbmVfYWNjZXNzIiwidW1hX2F1dGhvcml6YXRpb24iLCJhcGl1c2VyIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsicHMyLXRlc3QiOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iXX0sInBvcnRhbC1wYXMiOnsicm9sZXMiOlsiMDA3OlJvbCBGdWxsIFVzZXIiXX0sInBzLWNvdGl6YWNpb24iOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iXX0sInBzLXBsIjp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIl19LCJwcy1lbWlzaW9uIjp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIl19LCJwczIiOnsicm9sZXMiOlsicHMyRW1pc2lvbiIsInBzMkNvdGl6YWNpb24iLCJ1bWFfcHJvdGVjdGlvbiIsInBzMmluc3BlY2Npb24iLCJwc1phbWJhVXRpbCJdfSwiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJjb2RpZ29Qcm9kdWN0b3IiOiI4NTA0IiwidXN1YXJpb19yZWN0b3IiOiJwZXRyaWxsb2EiLCJuYW1lIjoiQW5kcmVzIFBldHJpbGxvIiwicHJlZmVycmVkX3VzZXJuYW1lIjoicGV0cmlsbG9hQHBzZWd1cm9zLmNvbS5hciIsImxvY2FsZSI6ImVzIiwiZ2l2ZW5fbmFtZSI6IkFuZHJlcyIsImZhbWlseV9uYW1lIjoiUGV0cmlsbG8iLCJpZF9yb2xfcmVjdG9yIjoiMTAwMDEiLCJlbWFpbCI6InBldHJpbGxvYUBwc2VndXJvcy5jb20uYXIifQ.OJhuk6TDB15ELotDxOpxyXEAVK8R2r6GYv-dOWsuE84TDyWayYMeMH9-vzuCnKpNXAnkWsxG3nS1qIW_HpqXVWODYFk4Zvcr7g_1Mm7rulC192eKERlG_q1sY0Ew56ZSkxUJCDNamoKwwkuyhyCCHce-6_Nb5FjOKAYt4IzfwrU\";\n// msg.headers['Content-Type'] = \"application/json\";\n// msg.headers['Cookie'] = \"ROUTEID=.1\";\n\nlet bodyQuery = {};\n\n\nbodyQuery.nroCotizacion = msg.payload.nroCotizacion;\nbodyQuery.patente = msg.payload.patente;\nbodyQuery.productorEmail = \"ltrzalez@gmail.com\";\nbodyQuery.apellidoCliente = \"LOPEZ\";\nbodyQuery.nombreCliente = \"Jose Estaban\";\nbodyQuery.telefonoCliente = \"\";\nbodyQuery.celularCliente = \"\";\nbodyQuery.emailCliente = \"ltrzalez@gmail.com\";\n\nmsg.payload = bodyQuery;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 1260,
        "wires": [
            [
                "a6e8b3bb.9ef56",
                "dd96a3bc.5c619"
            ]
        ]
    },
    {
        "id": "a24b04cf.76cef8",
        "type": "http response",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1290,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d90165e9.7fc688",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1180,
        "wires": []
    },
    {
        "id": "a6e8b3bb.9ef56",
        "type": "http request",
        "z": "7ee549ef.0fbb28",
        "name": "PSeguros Inspeccion",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 800,
        "y": 1260,
        "wires": [
            [
                "d90165e9.7fc688",
                "13bf90d9.99330f"
            ]
        ]
    },
    {
        "id": "13bf90d9.99330f",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "func": "if (msg.statusCode == 200){\n let mensaje = \"Hemos enviado un email con las instruciones para la inspeccion digital\";\n msg.payload = mensaje;\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1040,
        "y": 1260,
        "wires": [
            [
                "a24b04cf.76cef8"
            ]
        ]
    },
    {
        "id": "38162b28.1e2a74",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 960,
        "wires": []
    },
    {
        "id": "dd96a3bc.5c619",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3bea474a.346988",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1140,
        "wires": []
    },
    {
        "id": "dd2b4f47.70c5d",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 320,
        "wires": []
    },
    {
        "id": "5637a943.bf15d8",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 300,
        "wires": []
    },
    {
        "id": "bf1e0de8.73f14",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 760,
        "wires": []
    },
    {
        "id": "3dee67ac.fd14b8",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "func": "let parsedObject = JSON.parse(msg.payload)\n\nmsg.payload = parsedObject.access_token\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2500,
        "y": 420,
        "wires": [
            [
                "c961deaa.ba28a"
            ]
        ]
    },
    {
        "id": "20563a9.227f9c6",
        "type": "http in",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "url": "/issuance",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 1480,
        "wires": [
            [
                "813504a.1ee2af8"
            ]
        ]
    },
    {
        "id": "813504a.1ee2af8",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "func": "\nmsg.url =  `https://apimt.provinciaseguros.com.ar/gateway/PS/PS-EMISION/1.1/emitir?apikey=9cc893f8-c119-4eeb-8d68-a3d305927fed`;\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJGSjg2R2NGM2pUYk5MT2NvNE52WmtVQ0lVbWZZQ3FvcXRPUWVNZmJoTmxFIn0.eyJqdGkiOiJiNTM5OTZhMy1jYTdmLTQwMDAtOGE5NC0yMjY0YzkwZWY4NmMiLCJleHAiOjE2MTI5MTUwNTksIm5iZiI6MCwiaWF0IjoxNjEyODc5MDU5LCJpc3MiOiJodHRwczovL2F1dGh0LnByb3ZpbmNpYXNlZ3Vyb3MuY29tLmFyL2F1dGgvcmVhbG1zL3BzIiwiYXVkIjoicHMyIiwic3ViIjoiZmI3ZDIzMjMtMThkZi00NWY1LTkyZGItYTU3YWRkNWI5M2VmIiwidHlwIjoiQmVhcmVyIiwiYXpwIjoicHMyIiwiYXV0aF90aW1lIjowLCJzZXNzaW9uX3N0YXRlIjoiNTA4OGU2YmMtMjU3Mi00N2QzLWI5M2EtNDFiZDUyOWVhZDJhIiwiYWNyIjoiMSIsImFsbG93ZWQtb3JpZ2lucyI6WyJodHRwOi8vbG9jYWxob3N0OjgwODAiLCJodHRwczovL2F1dGh0LnByb3ZpbmNpYXNlZ3Vyb3MuY29tLmFyL2F1dGgiLCJodHRwOi8vbG9jYWxob3N0OjgwODEiXSwicmVhbG1fYWNjZXNzIjp7InJvbGVzIjpbIm9mZmxpbmVfYWNjZXNzIiwidW1hX2F1dGhvcml6YXRpb24iLCJhcGl1c2VyIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsicHMyLXRlc3QiOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iXX0sInBvcnRhbC1wYXMiOnsicm9sZXMiOlsiMDA3OlJvbCBGdWxsIFVzZXIiXX0sInBzLWNvdGl6YWNpb24iOnsicm9sZXMiOlsidW1hX3Byb3RlY3Rpb24iXX0sInBzLXBsIjp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIl19LCJwcy1lbWlzaW9uIjp7InJvbGVzIjpbInVtYV9wcm90ZWN0aW9uIl19LCJwczIiOnsicm9sZXMiOlsicHMyRW1pc2lvbiIsInBzMkNvdGl6YWNpb24iLCJ1bWFfcHJvdGVjdGlvbiIsInBzMmluc3BlY2Npb24iLCJwc1phbWJhVXRpbCJdfSwiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJjb2RpZ29Qcm9kdWN0b3IiOiI4NTA0IiwidXN1YXJpb19yZWN0b3IiOiJwZXRyaWxsb2EiLCJuYW1lIjoiQW5kcmVzIFBldHJpbGxvIiwicHJlZmVycmVkX3VzZXJuYW1lIjoicGV0cmlsbG9hQHBzZWd1cm9zLmNvbS5hciIsImxvY2FsZSI6ImVzIiwiZ2l2ZW5fbmFtZSI6IkFuZHJlcyIsImZhbWlseV9uYW1lIjoiUGV0cmlsbG8iLCJpZF9yb2xfcmVjdG9yIjoiMTAwMDEiLCJlbWFpbCI6InBldHJpbGxvYUBwc2VndXJvcy5jb20uYXIifQ.HoKIgVUBhaDEQOWTxrXA95LIUkfM1-yCarwj7Xre8i-kbw_3ZdHslPdL2Ss3hE2xtLbomgb6Q1DWQINcCxCQ2HE9gKQAJUhZxnfgEu0X0zzZ0zFIy0dzoNO9n2PpiRLW9VLfwid-tpQNvU4WEgXS9gcd_ZxekZxWI4MLMPgj9RY\";\nmsg.headers['Content-type'] = \"application/json\";\n\nlet quotation = msg.payload.quotation;\n\nlet documento = msg.payload.documento;\nlet name = msg.payload.name\nlet lastName = msg.payload.lastName;\nlet gender = msg.payload.gender;\nlet birthDate = msg.payload.birthDate;\nlet birthPlace = msg.payload.birthPlace;\nlet civilStatus = msg.payload.civilStatus;\nlet zipCode = msg.payload.zipCode;\nlet province = msg.payload.province\nlet location = msg.payload.locacion;\nlet street = msg.payload.street;\nlet nmoStreet = msg.payload.nmoStreet\nlet floor = msg.payload.floor\nlet departament = msg.payload.departament;\nlet phone = msg.payload.phone;\nlet email = msg.payload.email;\n\nlet patent = msg.payload.patent;\nlet nmoChasis = msg.payload.nmoChasis;\nlet nmoMotor = msg.payload.nmoMotor;\n\nlet bodyEmision = {};\n\nbodyEmision.cotizacion = quotation;\nbodyEmision.plan = \"22\";\nbodyEmision.promocion = \"NOAP\";\nbodyEmision.medioDePago  = \"2\";\nbodyEmision.origenDePago  = \"VISO\";\n\nbodyEmision.datosTomador = {};\nbodyEmision.datosTomador.tipoDocumento = \"DNI\";\nbodyEmision.datosTomador.documento = documento;\nbodyEmision.datosTomador.cuitCuil = \"\";\nbodyEmision.datosTomador.apellido = lastName;\nbodyEmision.datosTomador.nombre = name\nbodyEmision.datosTomador.genero = gender;\nbodyEmision.datosTomador.fechaNacimiento = birthDate;\nbodyEmision.datosTomador.pais = \"2\";\nbodyEmision.datosTomador.lugarNacimiento = birthPlace;\nbodyEmision.datosTomador.estadoCivil = civilStatus;\nbodyEmision.datosTomador.profesion = \"100\";\nbodyEmision.datosTomador.expuestoPoliticamente = \"N\";\nbodyEmision.datosTomador.sujetoObligadoArt230 = \"N\";\nbodyEmision.datosTomador.observaciones = \"\";\nbodyEmision.datosTomador.codigoPostal = zipCode;\nbodyEmision.datosTomador.provincia = province;\nbodyEmision.datosTomador.localidad = location;\nbodyEmision.datosTomador.calle = street;\nbodyEmision.datosTomador.numero = nmoStreet;\nbodyEmision.datosTomador.piso = floor;\nbodyEmision.datosTomador.departamento = departament;\nbodyEmision.datosTomador.telefono = \"\";\nbodyEmision.datosTomador.email = \"\";\nbodyEmision.datosTomador.datosBancarios = \"4509953566233704\";\n\nbodyEmision.bien = {};\nbodyEmision.bien['40023_patente'] = patent;\nbodyEmision.bien['40004_numeroChasis'] = nmoChasis;\nbodyEmision.bien['40005_numeroMotor'] = nmoMotor;\nbodyEmision.bien['40080_acreditaDominio'] = \"N\";\nbodyEmision.bien['40210_poseeEquipoGas'] = \"N\";\nbodyEmision.bien['40006_numeroReguladorGNC'] = \"\";\nbodyEmision.bien['40010_alcance'] = \"I\";\nbodyEmision.bien['40009_jurisdiccion'] = \"JN\";\nbodyEmision.bien['40011_tipoServicio'] = \"EJ\";\nbodyEmision.bien['40115_nroInscripcionAseguradoRuta'] = \"\";\nbodyEmision.bien['40084_grupoAfinidad'] = \"20\";\nbodyEmision.bien['16015_fechaNacDDmmaaaa'] = \"01051980\";\n\n\nbodyEmision.accesorios = [];\nbodyEmision.textos = [];\n\n\n\n\n\nmsg.payload = bodyEmision;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 1520,
        "wires": [
            [
                "acd09e8a.37169",
                "7b57d586.88fdbc"
            ]
        ]
    },
    {
        "id": "acd09e8a.37169",
        "type": "http request",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 1520,
        "wires": [
            [
                "1e56fd9d.d8ff22",
                "148c34fb.33d3ab"
            ]
        ]
    },
    {
        "id": "d38f3260.929eb",
        "type": "http response",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1190,
        "y": 1520,
        "wires": []
    },
    {
        "id": "1e56fd9d.d8ff22",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 1520,
        "wires": [
            [
                "d38f3260.929eb"
            ]
        ]
    },
    {
        "id": "148c34fb.33d3ab",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 1420,
        "wires": []
    },
    {
        "id": "7b57d586.88fdbc",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1400,
        "wires": []
    },
    {
        "id": "9171a5f5.5ea218",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Rocket.chat file",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1680,
        "wires": []
    },
    {
        "id": "e9e6559b.503368",
        "type": "http in",
        "z": "7ee81df4.bfea84",
        "name": "Post messages (FILES) from Rocket.chat",
        "url": "/filesImages",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 220,
        "y": 1780,
        "wires": [
            [
                "9171a5f5.5ea218"
            ]
        ]
    },
    {
        "id": "b5ff799c.714348",
        "type": "http response",
        "z": "7ee81df4.bfea84",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 520,
        "y": 1860,
        "wires": []
    }
]