flows.json
[
    {
        "id": "7ee81df4.bfea84",
        "type": "tab",
        "label": "Integrations",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ee549ef.0fbb28",
        "type": "tab",
        "label": "Services - Rocket.chat",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c0a2e33c.1511f",
        "type": "telegram bot",
        "botname": "PSegurosBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "3f4b9f1f.e14f1",
        "type": "telegram receiver",
        "z": "7ee81df4.bfea84",
        "name": "",
        "bot": "c0a2e33c.1511f",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "93d23625.10d5f8",
                "c0f41767.f57208"
            ],
            []
        ]
    },
    {
        "id": "e78ac438.3320e8",
        "type": "telegram sender",
        "z": "7ee81df4.bfea84",
        "name": "",
        "bot": "c0a2e33c.1511f",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1190,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "93d23625.10d5f8",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Telegram receiver",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "63a91f15.a4e6a",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "New visitor",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://rocket.it.mindbot.com.ar/api/v1/livechat/visitor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1490,
        "y": 360,
        "wires": [
            [
                "51a1093e.9a7ff8",
                "dfed7cc7.c7027"
            ]
        ]
    },
    {
        "id": "79f5db67.0cb104",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "New visitor Payload",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/visitor#payload\n\n//Obtener datos de Telegram\nlet fullName = msg.originalMessage.from.first_name + \" \" + msg.originalMessage.from.last_name;\n//Usar id de Usuario de Telegram como TOKEN - lo espera en String\nlet token = msg.originalMessage.from.id.toString()\n\nlet visitor = {};\n\nvisitor.name = fullName;\nvisitor.token = token;\nvisitor.customFields = [];\n\n//Custom Field para informar el CANAL\n\nvisitor.customFields.push({key:\"chanel\", value:\"telegram\", overwrite:true});\n\nmsg.payload = {};\nmsg.payload.visitor = visitor;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1230,
        "y": 360,
        "wires": [
            [
                "74e7208b.04a33",
                "63a91f15.a4e6a"
            ]
        ]
    },
    {
        "id": "74e7208b.04a33",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "New visitor Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 300,
        "wires": []
    },
    {
        "id": "c0f41767.f57208",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Get visitor data Payload",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/visitor#payload\n\n//Usar id de Usuario de Telegram como TOKEN\nlet token = msg.originalMessage.from.id\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/visitor/\" + token;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "22826c11.f10fb4"
            ]
        ]
    },
    {
        "id": "22826c11.f10fb4",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Get visitor data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 820,
        "y": 200,
        "wires": [
            [
                "7ab5d913.53ffa8",
                "ea9d6124.d69fd",
                "db404bb5.08c118"
            ]
        ]
    },
    {
        "id": "7ab5d913.53ffa8",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Get visitor data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 60,
        "wires": []
    },
    {
        "id": "51a1093e.9a7ff8",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "New visitor Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 300,
        "wires": []
    },
    {
        "id": "d8a93589.9ba8f8",
        "type": "comment",
        "z": "7ee81df4.bfea84",
        "name": "Example response",
        "info": "{\"visitor\":{\"_id\":\"5NeTKRb5YzZ4wE3Mi\",\"username\":\"guest-6\",\"ts\":\"2021-01-19T12:26:32.789Z\",\"ip\":\"192.168.1.1\",\"host\":\"rocket.it.mindbot.com.ar\",\"_updatedAt\":\"2021-01-19T12:26:32.791Z\",\"name\":\"Andres Petrillo\",\"token\":\"869282068\"},\"success\":true}\n\n{\"visitor\":{\"_id\":\"5NeTKRb5YzZ4wE3Mi\",\"username\":\"guest-6\",\"ts\":\"2021-01-19T12:26:32.789Z\",\"ip\":\"192.168.1.1\",\"host\":\"rocket.it.mindbot.com.ar\",\"_updatedAt\":\"2021-01-19T12:26:32.791Z\",\"name\":\"Andres Petrillo\",\"token\":\"869282068\"},\"success\":true}",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "db404bb5.08c118",
        "type": "switch",
        "z": "7ee81df4.bfea84",
        "name": "Check visitor exists",
        "property": "payload.visitor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 200,
        "wires": [
            [
                "4c4953ed.decb2c",
                "dfed7cc7.c7027"
            ],
            [
                "79f5db67.0cb104",
                "9de6f676.6b1328"
            ]
        ]
    },
    {
        "id": "dfed7cc7.c7027",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Get config (Obtengo room)",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\nlet token = msg.originalMessage.from.id\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/config?token=\" + token;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1700,
        "y": 200,
        "wires": [
            [
                "506b3875.adacc8"
            ]
        ]
    },
    {
        "id": "506b3875.adacc8",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Get config",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1950,
        "y": 200,
        "wires": [
            [
                "4551ea09.6b2dc4"
            ]
        ]
    },
    {
        "id": "ea9d6124.d69fd",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Visitor data to json",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 60,
        "wires": []
    },
    {
        "id": "4551ea09.6b2dc4",
        "type": "json",
        "z": "7ee81df4.bfea84",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2130,
        "y": 200,
        "wires": [
            [
                "bfe45ba3.557ce8",
                "3e8ca4e8.4b9dfc"
            ]
        ]
    },
    {
        "id": "bfe45ba3.557ce8",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "to json",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2430,
        "y": 60,
        "wires": []
    },
    {
        "id": "2af94aa3.5b5f46",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Send Message",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\n\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/message\"\n\nlet originalPayload = msg.payload;\n\nmsg.payload = {};\nmsg.payload.token = originalPayload.config.guest.token;\nmsg.payload.rid = originalPayload.config.room._id;\nmsg.payload.msg = msg.originalMessage.text;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2660,
        "y": 200,
        "wires": [
            [
                "fd8c9753.82cf18"
            ]
        ]
    },
    {
        "id": "f60f6e8b.26885",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Send Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3080,
        "y": 60,
        "wires": []
    },
    {
        "id": "4c4953ed.decb2c",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "visitor EXISTS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 140,
        "wires": []
    },
    {
        "id": "9de6f676.6b1328",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "visitor NOT EXISTS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 420,
        "wires": []
    },
    {
        "id": "3e8ca4e8.4b9dfc",
        "type": "switch",
        "z": "7ee81df4.bfea84",
        "name": "Check room exists",
        "property": "payload.config.room",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2350,
        "y": 200,
        "wires": [
            [
                "2af94aa3.5b5f46"
            ],
            [
                "98c2632b.e833a"
            ]
        ]
    },
    {
        "id": "98c2632b.e833a",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Get room (crear room)",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\nlet token = msg.originalMessage.from.id\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/room?token=\" + token;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2380,
        "y": 320,
        "wires": [
            [
                "414289d5.96b3b8"
            ]
        ]
    },
    {
        "id": "414289d5.96b3b8",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Get room",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2620,
        "y": 320,
        "wires": [
            [
                "1fab54c.98015ab"
            ]
        ]
    },
    {
        "id": "1fab54c.98015ab",
        "type": "json",
        "z": "7ee81df4.bfea84",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2810,
        "y": 320,
        "wires": [
            [
                "beeafc04.2066e"
            ]
        ]
    },
    {
        "id": "beeafc04.2066e",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Send Message",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\n\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/message\"\n\nlet originalPayload = msg.payload;\n\nmsg.payload = {};\nmsg.payload.token = originalPayload.room.v.token;\nmsg.payload.rid = originalPayload.room._id;\nmsg.payload.msg = msg.originalMessage.text;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2980,
        "y": 320,
        "wires": [
            [
                "760fa4dc.f12d5c",
                "9fd9269a.33bfc8"
            ]
        ]
    },
    {
        "id": "760fa4dc.f12d5c",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Send Message (new Room)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3280,
        "y": 240,
        "wires": []
    },
    {
        "id": "fd8c9753.82cf18",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Send message",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2940,
        "y": 200,
        "wires": [
            [
                "f60f6e8b.26885"
            ]
        ]
    },
    {
        "id": "9fd9269a.33bfc8",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Send message",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 3240,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a813910b.42014",
        "type": "http in",
        "z": "7ee81df4.bfea84",
        "name": "Post messages from Rocket.chat",
        "url": "/messages",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 190,
        "y": 1480,
        "wires": [
            [
                "82e65057.262e2",
                "e6c9b776.ae6b68"
            ]
        ]
    },
    {
        "id": "82e65057.262e2",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Rocket.chat receiver",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1360,
        "wires": []
    },
    {
        "id": "3a9529df.ce3346",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Set message",
        "func": "//Respuesta a Telegram\n//chatId: 869282068\n//messageId: 1938\n//type: \"message\"\n//content: \"hola\"\n\nmsg.payload.chatId = msg.payload.visitor.token;\nmsg.payload.type = \"message\";\nmsg.payload.content = msg.payload.messages[0].msg;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 1360,
        "wires": [
            [
                "e78ac438.3320e8",
                "15478edd.b70101"
            ]
        ]
    },
    {
        "id": "15478edd.b70101",
        "type": "http response",
        "z": "7ee81df4.bfea84",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1160,
        "y": 1420,
        "wires": []
    },
    {
        "id": "23cef9dc.463986",
        "type": "comment",
        "z": "7ee81df4.bfea84",
        "name": "WebHook - Omnichannel",
        "info": "Todos los mensajes salientes de los operadores, seran reenviados aca.\nHay que identificar el CANAL (si es que tiene) y derivarlo correctamente.\n\n**TODO**: Adicionalmente, se generan otros mensajes, como cambio de departamento, o cierre de caso, que debemos procesar correctamente.",
        "x": 170,
        "y": 1520,
        "wires": []
    },
    {
        "id": "e6c9b776.ae6b68",
        "type": "switch",
        "z": "7ee81df4.bfea84",
        "name": "Switch canal",
        "property": "payload.visitor.customFields.chanel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "telegram",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "whatsapp",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 490,
        "y": 1480,
        "wires": [
            [
                "3a9529df.ce3346"
            ],
            [
                "8bfe58f7.33d068"
            ],
            [
                "6b5f84ff.2ec08c",
                "76b872b1.5c0dec"
            ]
        ]
    },
    {
        "id": "6b5f84ff.2ec08c",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "WebHook SIN procesar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1580,
        "wires": []
    },
    {
        "id": "c40adad0.7fef58",
        "type": "comment",
        "z": "7ee81df4.bfea84",
        "name": "TODO: Check ROOM or DEPARTMENT???",
        "info": "",
        "x": 2510,
        "y": 140,
        "wires": []
    },
    {
        "id": "76b872b1.5c0dec",
        "type": "http response",
        "z": "7ee81df4.bfea84",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 660,
        "y": 1660,
        "wires": []
    },
    {
        "id": "45b8e400.ff61fc",
        "type": "catch",
        "z": "7ee81df4.bfea84",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1570,
        "y": 1040,
        "wires": [
            [
                "de1a14f9.c3e948"
            ]
        ]
    },
    {
        "id": "de1a14f9.c3e948",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 1060,
        "wires": []
    },
    {
        "id": "9f55ee15.5d98a",
        "type": "http in",
        "z": "7ee81df4.bfea84",
        "name": "Webhook from whatsapp",
        "url": "/whatsapp/inbound",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "62fe07d7.edbfd8",
                "792d7f15.1913a",
                "230558cb.e84f88"
            ]
        ]
    },
    {
        "id": "62fe07d7.edbfd8",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Whatsapp receiver",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 700,
        "wires": []
    },
    {
        "id": "792d7f15.1913a",
        "type": "http response",
        "z": "7ee81df4.bfea84",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 320,
        "y": 980,
        "wires": []
    },
    {
        "id": "7096761.782ba88",
        "type": "http in",
        "z": "7ee549ef.0fbb28",
        "name": "Foward to another department",
        "url": "/foward",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "346c11f8.d361ce",
                "ae8968d.a08aa98"
            ]
        ]
    },
    {
        "id": "346c11f8.d361ce",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Rocket.chat forward",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "78d11897.f01e48",
        "type": "http response",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 3800,
        "y": 320,
        "wires": []
    },
    {
        "id": "ae8968d.a08aa98",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "Login rocket.chat",
        "func": "//Usar id de Admin (Ver si hacemos uno o usamos el Bot)\n\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/login\"\n\nlet originalPayload = msg.payload;\nmsg.originalPayload = originalPayload;\n\nmsg.payload = {};\nmsg.payload.user = \"andrespetrillo@mindbot.com.ar\";\nmsg.payload.password = \"123456\";\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "2588eab0.3d3266"
            ]
        ]
    },
    {
        "id": "2588eab0.3d3266",
        "type": "http request",
        "z": "7ee549ef.0fbb28",
        "name": "Send message",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 840,
        "y": 260,
        "wires": [
            [
                "1fcd3462.3af2bc",
                "c4109dfc.e6ab8"
            ]
        ]
    },
    {
        "id": "1fcd3462.3af2bc",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Rocket.chat login",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 180,
        "wires": []
    },
    {
        "id": "c4109dfc.e6ab8",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "Get visitor info (Obtengo token)",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\n//TODO: Donde guardo el userId original\n\ntry {\n    let visitorId = msg.originalPayload.userId\n    \n    msg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/visitors.info?visitorId=\" + visitorId;\n    msg.headers = {};\n    \n    msg.headers['X-User-Id'] = msg.payload.data.userId;\n    msg.headers['X-Auth-Token'] = msg.payload.data.authToken;\n    //msg.headers['X-User-Id'] = \"FE33GnkPP3aQrqvSE\";\n    //msg.headers['X-Auth-Token'] = \"FKWSX-PZCggns0srIJYMJDsRI4iac5Yytasel76UD1-\";\n    \n    //Save data to Auth\n    msg.auth = {};\n    msg.auth['X-User-Id'] = msg.payload.data.userId;\n    msg.auth['X-Auth-Token'] = msg.payload.data.authToken;\n    \n    \n    \n} catch (error) {\n    node.error([\"on visitor info:\",error]);\n}\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1170,
        "y": 260,
        "wires": [
            [
                "91fe8694.b48718",
                "a6bdbd8f.b174"
            ]
        ]
    },
    {
        "id": "91fe8694.b48718",
        "type": "http request",
        "z": "7ee549ef.0fbb28",
        "name": "Send message",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1460,
        "y": 260,
        "wires": [
            [
                "f0ef134a.1156d",
                "d0bdb90e.0dbbd8"
            ]
        ]
    },
    {
        "id": "f0ef134a.1156d",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Rocket.chat visitor info",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 180,
        "wires": []
    },
    {
        "id": "a6bdbd8f.b174",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Rocket.chat visitor info payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 180,
        "wires": []
    },
    {
        "id": "d0bdb90e.0dbbd8",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "Get config (Obtengo room)",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\nlet token = msg.payload.visitor.token\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/config?token=\" + token;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1780,
        "y": 260,
        "wires": [
            [
                "fd970117.30e64"
            ]
        ]
    },
    {
        "id": "fd970117.30e64",
        "type": "http request",
        "z": "7ee549ef.0fbb28",
        "name": "Get config",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2030,
        "y": 260,
        "wires": [
            [
                "489220cc.288ad",
                "ea0d1cbe.26c2c"
            ]
        ]
    },
    {
        "id": "489220cc.288ad",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Rocket.chat room",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2250,
        "y": 180,
        "wires": []
    },
    {
        "id": "ea0d1cbe.26c2c",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "Foward department rocket.chat",
        "func": "//Usar id de Admin (Ver si hacemos uno o usamos el Bot)\n\ntry {\n    \n    msg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/room.forward\";\n    msg.headers = {};\n    \n    msg.headers['X-User-Id'] = msg.auth['X-User-Id'];\n    msg.headers['X-Auth-Token'] = msg.auth['X-Auth-Token'];\n    //msg.headers['X-User-Id'] = \"FE33GnkPP3aQrqvSE\";\n    //msg.headers['X-Auth-Token'] = \"FKWSX-PZCggns0srIJYMJDsRI4iac5Yytasel76UD1-\";\n    \n    let originalPayload = msg.payload;\n    msg.originalPayload = originalPayload;\n    \n    msg.payload = {};\n    msg.payload.roomId = msg.originalPayload.config.room._id;\n    msg.payload.departmentId = \"C5Mcf9FX3QhLP2FE8\";\n    \n} catch (error) {\n    node.error([\"on department foward:\",error]);\n}\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2330,
        "y": 260,
        "wires": [
            [
                "2764670c.ceafa8"
            ]
        ]
    },
    {
        "id": "2764670c.ceafa8",
        "type": "http request",
        "z": "7ee549ef.0fbb28",
        "name": "Send message",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2600,
        "y": 260,
        "wires": [
            [
                "d31c7e3d.17a9e",
                "eaf54a3d.2f5cb8"
            ]
        ]
    },
    {
        "id": "d31c7e3d.17a9e",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Rocket.chat department foward",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2890,
        "y": 180,
        "wires": []
    },
    {
        "id": "eaf54a3d.2f5cb8",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "Get config (Obtengo room)",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\nlet token = msg.originalPayload.config.guest.token\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/config?token=\" + token;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2880,
        "y": 340,
        "wires": [
            [
                "1db5b849.9b6b48"
            ]
        ]
    },
    {
        "id": "1db5b849.9b6b48",
        "type": "http request",
        "z": "7ee549ef.0fbb28",
        "name": "Get config",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 3130,
        "y": 340,
        "wires": [
            [
                "918b3fd.a75b9c",
                "e3d6e793.e60918"
            ]
        ]
    },
    {
        "id": "918b3fd.a75b9c",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Rocket.chat get room (confirmation)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3440,
        "y": 260,
        "wires": []
    },
    {
        "id": "e3d6e793.e60918",
        "type": "function",
        "z": "7ee549ef.0fbb28",
        "name": "Foward department rocket.chat",
        "func": "//Revisar si se cambio de ROOM.\n//Si no se realizo el cambio, significa que no hay agente disponible...\nif(msg.payload.config.room._id == msg.originalPayload.config.room._id)\n{\n    return [null, msg]\n} else {\n    return [msg, null]\n}\n\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 3490,
        "y": 360,
        "wires": [
            [
                "e2606d6e.a64c7",
                "78d11897.f01e48"
            ],
            [
                "6ac2c572.b10c5c",
                "31af2661.01a9ca"
            ]
        ]
    },
    {
        "id": "e2606d6e.a64c7",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Rocket.chat room forward OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3830,
        "y": 260,
        "wires": []
    },
    {
        "id": "31af2661.01a9ca",
        "type": "debug",
        "z": "7ee549ef.0fbb28",
        "name": "Rocket.chat room forward  NOT OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3840,
        "y": 540,
        "wires": []
    },
    {
        "id": "6ac2c572.b10c5c",
        "type": "http response",
        "z": "7ee549ef.0fbb28",
        "name": "",
        "statusCode": "202",
        "headers": {},
        "x": 3800,
        "y": 420,
        "wires": []
    },
    {
        "id": "426449b7.49f8b8",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "New visitor",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://rocket.it.mindbot.com.ar/api/v1/livechat/visitor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1410,
        "y": 940,
        "wires": [
            [
                "56dfe2c5.cc323c",
                "176966ef.dae549"
            ]
        ]
    },
    {
        "id": "a14f41cc.7bee1",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "New visitor Payload",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/visitor#payload\n\n//Obtener datos de Telegram\nlet fullName = msg.originalMessage.results[0].contact.name;\n\n//Usar nro de telefono de WhatsApp - lo espera en String\nlet token = msg.originalMessage.results[0].from;\n\nlet visitor = {};\n\nvisitor.name = fullName;\nvisitor.token = token;\nvisitor.customFields = [];\n\n//Custom Field para informar el CANAL\nlet phone = token;\n\nvisitor.customFields.push({key:\"chanel\", value:\"whatsapp\", overwrite:true});\n//TODO: Agregar dato de BOT vs de Agente (customFields)\nvisitor.customFields.push({key:\"phone\", value:token, overwrite:true});\n\nmsg.payload = {};\nmsg.payload.visitor = visitor;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1150,
        "y": 940,
        "wires": [
            [
                "e7cf9009.e204",
                "426449b7.49f8b8"
            ]
        ]
    },
    {
        "id": "e7cf9009.e204",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "New visitor Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 880,
        "wires": []
    },
    {
        "id": "230558cb.e84f88",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Get visitor data Payload",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/visitor#payload\n\n//Usar nro de telefono de WhatsApp como TOKEN\n//Guardo el mensaje original\nlet originalMessage = msg.payload;\nmsg.originalMessage = originalMessage;\n\nlet token = msg.originalMessage.results[0].from;\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/visitor/\" + token;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 780,
        "wires": [
            [
                "29f0e9db.4a95f6"
            ]
        ]
    },
    {
        "id": "29f0e9db.4a95f6",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Get visitor data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 740,
        "y": 780,
        "wires": [
            [
                "1dbe982f.7899f8",
                "dabd246d.c50d88"
            ]
        ]
    },
    {
        "id": "1dbe982f.7899f8",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Get visitor data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 700,
        "wires": []
    },
    {
        "id": "56dfe2c5.cc323c",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "New visitor Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 880,
        "wires": []
    },
    {
        "id": "baad55e3.dd67f8",
        "type": "comment",
        "z": "7ee81df4.bfea84",
        "name": "Example response",
        "info": "{\"visitor\":{\"_id\":\"5NeTKRb5YzZ4wE3Mi\",\"username\":\"guest-6\",\"ts\":\"2021-01-19T12:26:32.789Z\",\"ip\":\"192.168.1.1\",\"host\":\"rocket.it.mindbot.com.ar\",\"_updatedAt\":\"2021-01-19T12:26:32.791Z\",\"name\":\"Andres Petrillo\",\"token\":\"869282068\"},\"success\":true}\n\n{\"visitor\":{\"_id\":\"5NeTKRb5YzZ4wE3Mi\",\"username\":\"guest-6\",\"ts\":\"2021-01-19T12:26:32.789Z\",\"ip\":\"192.168.1.1\",\"host\":\"rocket.it.mindbot.com.ar\",\"_updatedAt\":\"2021-01-19T12:26:32.791Z\",\"name\":\"Andres Petrillo\",\"token\":\"869282068\"},\"success\":true}",
        "x": 870,
        "y": 880,
        "wires": []
    },
    {
        "id": "dabd246d.c50d88",
        "type": "switch",
        "z": "7ee81df4.bfea84",
        "name": "Check visitor exists",
        "property": "payload.visitor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 780,
        "wires": [
            [
                "54b021e6.d83d7",
                "176966ef.dae549"
            ],
            [
                "a14f41cc.7bee1",
                "7d0bfcff.af0944"
            ]
        ]
    },
    {
        "id": "176966ef.dae549",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Get config (Obtengo room)",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar nro de telefono de Wahtsapp\nlet token = msg.originalMessage.results[0].from;\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/config?token=\" + token;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1620,
        "y": 780,
        "wires": [
            [
                "9e119b.93cdce68"
            ]
        ]
    },
    {
        "id": "9e119b.93cdce68",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Get config",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1870,
        "y": 780,
        "wires": [
            [
                "229e7882.3652a8"
            ]
        ]
    },
    {
        "id": "229e7882.3652a8",
        "type": "json",
        "z": "7ee81df4.bfea84",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2050,
        "y": 780,
        "wires": [
            [
                "d4a778ed.12b818",
                "49d87cc1.7d91b4"
            ]
        ]
    },
    {
        "id": "d4a778ed.12b818",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "to json",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2350,
        "y": 640,
        "wires": []
    },
    {
        "id": "f18bd20f.73c6c",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Send Message",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\n\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/message\"\n\nlet originalPayload = msg.payload;\n\nmsg.payload = {};\nmsg.payload.token = originalPayload.config.guest.token;\nmsg.payload.rid = originalPayload.config.room._id;\nmsg.payload.msg = msg.originalMessage.results[0].message.text;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2580,
        "y": 780,
        "wires": [
            [
                "3907b8a4.e28e88"
            ]
        ]
    },
    {
        "id": "562dd6e6.acaf78",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Send Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3000,
        "y": 640,
        "wires": []
    },
    {
        "id": "54b021e6.d83d7",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "visitor EXISTS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 720,
        "wires": []
    },
    {
        "id": "7d0bfcff.af0944",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "visitor NOT EXISTS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 1000,
        "wires": []
    },
    {
        "id": "49d87cc1.7d91b4",
        "type": "switch",
        "z": "7ee81df4.bfea84",
        "name": "Check room exists",
        "property": "payload.config.room",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2270,
        "y": 780,
        "wires": [
            [
                "f18bd20f.73c6c"
            ],
            [
                "8f25fb78.5d9c68"
            ]
        ]
    },
    {
        "id": "8f25fb78.5d9c68",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Get room (crear room)",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar telefono de WhatsApp como TOKEN\nlet token = msg.originalMessage.results[0].from;\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/room?token=\" + token;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2300,
        "y": 900,
        "wires": [
            [
                "52f1b528.c5b1cc"
            ]
        ]
    },
    {
        "id": "52f1b528.c5b1cc",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Get room",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2540,
        "y": 900,
        "wires": [
            [
                "8c284ea4.6cb3b",
                "236503ab.0aacfc"
            ]
        ]
    },
    {
        "id": "8c284ea4.6cb3b",
        "type": "json",
        "z": "7ee81df4.bfea84",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2730,
        "y": 900,
        "wires": [
            [
                "32a393d9.c16a9c"
            ]
        ]
    },
    {
        "id": "32a393d9.c16a9c",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Send Message",
        "func": "//https://docs.rocket.chat/api/rest-api/methods/livechat/room\n\n//Usar id de Usuario de Telegram como TOKEN\n\n\nmsg.url = \"https://rocket.it.mindbot.com.ar/api/v1/livechat/message\"\n\nlet originalPayload = msg.payload;\n\nmsg.payload = {};\nmsg.payload.token = originalPayload.room.v.token;\nmsg.payload.rid = originalPayload.room._id;\nmsg.payload.msg = msg.originalMessage[0].message.text;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2900,
        "y": 900,
        "wires": [
            [
                "59a9d5ce.eb061c",
                "7b92ba36.fe3b44"
            ]
        ]
    },
    {
        "id": "59a9d5ce.eb061c",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Send Message (new Room)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3200,
        "y": 820,
        "wires": []
    },
    {
        "id": "3907b8a4.e28e88",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Send message",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2860,
        "y": 780,
        "wires": [
            [
                "562dd6e6.acaf78"
            ]
        ]
    },
    {
        "id": "7b92ba36.fe3b44",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "Send message",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 3160,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "d2432921.d9d298",
        "type": "comment",
        "z": "7ee81df4.bfea84",
        "name": "TODO: Check ROOM or DEPARTMENT???",
        "info": "",
        "x": 2430,
        "y": 720,
        "wires": []
    },
    {
        "id": "8bfe58f7.33d068",
        "type": "function",
        "z": "7ee81df4.bfea84",
        "name": "Set message",
        "func": "//Respuesta a Whatsapp\n//chatId: 869282068\n//messageId: 1938\n//type: \"message\"\n//content: \"hola\"\nmsg.headers = {};\nmsg.headers['Authorization'] = \"App 9e66295544f076806ab9751a06f65722-dc79f206-56d4-4e42-b14a-61d60c4b36e0\";\nmsg.headers['Content-Type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n \nmsg.payload.scenarioKey = \"E1DC1DBC2BEED01B894E15AD3AEA64DA\";\nmsg.payload.destinations = [];\nmsg.payload.whatsApp = {};\n\nlet destination = {};\nlet to= {};\n\n//Nro de telefono del cliente\nto.phoneNumber = msg.payload.visitor.token;\ndestination.to = to;\n\nmsg.payload.destinations.push(destination);\n\nmsg.payload.whatsApp.text = msg.payload.messages[0].msg;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 1480,
        "wires": [
            [
                "60d612db.6df9dc",
                "d4471d75.eba42",
                "9289a7ad.1e2618"
            ]
        ]
    },
    {
        "id": "60d612db.6df9dc",
        "type": "http response",
        "z": "7ee81df4.bfea84",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1180,
        "y": 1540,
        "wires": []
    },
    {
        "id": "236503ab.0aacfc",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Get room",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2700,
        "y": 980,
        "wires": []
    },
    {
        "id": "d4471d75.eba42",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Whatsapp Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 1640,
        "wires": []
    },
    {
        "id": "9289a7ad.1e2618",
        "type": "http request",
        "z": "7ee81df4.bfea84",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mp9856.api.infobip.com/omni/1/advanced",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1230,
        "y": 1480,
        "wires": [
            [
                "9e9b55d3.fcdd78"
            ]
        ]
    },
    {
        "id": "9e9b55d3.fcdd78",
        "type": "debug",
        "z": "7ee81df4.bfea84",
        "name": "Infobip Send Advanced",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 1480,
        "wires": []
    }
]